<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.geek.libmlkitscanner.ui.ScanPreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MNScanCaptureTheme" />
        <activity
            android:name="com.geek.libmlkitscanner.ui.CustomConfigActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.geek.libmlkitscanner.ui.MlkitMainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.MlkitMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.geek.libmlkitscanner.new60.MlkitMainActivity1"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.MlkitMainActivity1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.geek.libmlkitscanner.new60.QRCodeAct1"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MNScanCaptureTheme">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.QRCodeAct1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>