<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".demo.activity.NcalendarActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.NcalendarActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".demo.activity.TestMiui9Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".demo.activity.TestMiui10Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".demo.TestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".demo.activity.TestEmuiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".demo.activity.TestWeekHoldActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".demo.activity.TestAddViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".demo.activity.CustomCalendarActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!--一下为新-->


        <activity
            android:name=".demo.activity.TestMonthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".demo.activity.TestWeekActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".demo.activity.TestViewPagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".demo.activity.TestGeneralActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".demo.activity.TestStretchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".demo.activity.GeneralAdapterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".demo.activity.TestAdapterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".demo.activity.DingAdapterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

    </application>
</manifest>
