<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".MainActivityRt"
            android:theme="@style/AppThemert"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.MainActivityRt" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".GifActivity" />
        <activity android:name=".TestActivity" />
    </application>
</manifest>

